@import url('https://fonts.googleapis.com/css?family=Oswald:400,500');
@import 'base/banner';
@import 'base/preloader';
$bgColor: #ffffff;
$ctaColor: #0b9d98;
$txtBg: rgba(11,
157,
152,
0.576);
$txtColor: #ffffff;
$ctaHover: #c92727;
* {
    font-size: 100%;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.banner {
    visibility: hidden;
    opacity: 0;
    position: relative;
    cursor: pointer;
    border: solid 1px #252525;
    box-sizing: border-box;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 50%, rgba(255, 255, 255, 0) 100%);
    z-index: 998;
}

#logocont {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: 10px;
    z-index: 999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; //change to column to display vertically
    #logo {
        height: 17px;
        top: 50%;
        max-height: 75%;
        margin: 2px;
    }
    #explore {
        margin: 2px;
        height: 15px;
        width: auto;
    }
}

.img {
    position: absolute;
    width: auto;
    right: 0;
    height: 100%;
    top: 0;
    left: 0;
}

#cta {
    position: absolute;
    width: auto;
    right: 5px;
    height: 43%;
    bottom: 27%;
    z-index: 999;
}

.copyPosition {
    position: absolute;
    height: 100%;
    width: 100%;
}

.copy {
    position: absolute;
    height: 60%;
    top: 20%;
    left: 10px;
    z-index: 99999;
}